@font-face {
    font-family: 'Rr';
    src: url(../Fonts/Roboto/Roboto-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Rb';
    src: url(../Fonts/Roboto/Roboto-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Mr';
    src: url(../Fonts/Montserrat/Montserrat-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Mb';
    src: url(../Fonts/Montserrat/Montserrat-bold.ttf) format('truetype');
}