
$textColor: #FFFFFF;

$H1textColor:#444444;

$PtextColor: #F7F3F2;
$pTextColor: #666666;

$linkColor: #999999;

$backgroundColors: #FF4E50;
$buttonBackground: #FFFFFF;

$Tshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$a: absolute;
$r: relative;
$textDecoration: none;